@import "icon.less";
// 基本颜色定义
@primary-color: #c52005; // 红色
@secondary-color: #fa5430; // 黄色
@accent-color: #3388ff; // 蓝色

@icon-color: #666;
@background-color: #f9f9f9; // 背景颜色
@border-color: #ddd; // 边框颜色

@text-color: #333; // 文本颜色
// 间距等样式定义
@margin-base: 0.4rem;
@padding-base: 0.4rem; 
@radius-base: 0.4rem;

// 边框
.shadow-none {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.intro {
    background-color: bisque;
}

.radius {
    border-radius: 0.4rem;
}