.shadow-none {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.intro {
  background-color: bisque;
}
.radius {
  border-radius: 0.4rem;
}
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'zl';
  /* Project id 2857647 */
  src: url('//at.alicdn.com/t/c/font_2857647_p4ks1kbi1rq.woff2?t=1737772113041') format('woff2'), url('//at.alicdn.com/t/c/font_2857647_p4ks1kbi1rq.ttf?t=1737772113041') format('truetype');
}
.zl-icon {
  font-family: 'zl';
  font-style: normal;
}
.zl-icon-calendar::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e73b';
}
.zl-icon-info::before {
  font-family: 'zl';
  font-style: normal;
  content: '\ed50';
}
.zl-icon-user::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e65d';
}
.zl-icon-close::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e7be';
}
.zl-icon-no1::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e60b';
}
.zl-icon-no2::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e61e';
}
.zl-icon-no3::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e620';
}
.zl-icon-analysis::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e61f';
}
.zl-icon-maintenance::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e623';
}
.zl-icon-sale::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e614';
}
.zl-icon-aircraft::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e600';
}
.zl-icon-airplane::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e685';
}
.zl-icon-airline::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e60c';
}
.zl-icon-person::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e6e4';
}
.zl-icon-sms::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e631';
}
.zl-icon-location::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e673';
}
.zl-icon-actype::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e600';
}
.zl-icon-weight::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e762';
}
.zl-icon-pilot::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e62c';
}
.zl-icon-arr::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e616';
}
.zl-icon-dep::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e617';
}
.zl-icon-j5::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e615';
}
.zl-icon-j5duty::before {
  font-family: 'zl';
  font-style: normal;
  content: '\e606';
}
